<h1>MTBA test</h1>
  <pre>
    <!-- {{selectedStop['data']| json}} -->
  </pre>
  <h1>Next Arrival time at {{stopName}}: {{nextArrival[0] || 'No upcoming arrivals'}}</h1> 
    <h1 *ngIf="nextArrival[0]">{{diff}} minutes</h1>
<!-- <ul>
  <li *ngFor="let arrival of selectedStop"> {{arrival['attributes']['arrival_time'] | json}}</li>
</ul> -->
<ul>
  <li *ngFor="let stop of stops" (click)="nextTime(stop)">
    <pre>{{stop['id']}}</pre>
    <!-- <pre>{{stop | json}}</pre> -->
  </li>
</ul>

<router-outlet></router-outlet>
